
<form name="editForm"  id="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="product.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                    ng-model="product.number"
                     />
        </div>
        <div class="form-group">
            <label for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="product.title"
                     />
        </div>
        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="product.name"
                     />
        </div>
        <div class="form-group">
            <label for="field_full_name">Full Name</label>
            <input type="text" class="form-control" name="title" id="field_full_name"
                    ng-model="product.fullName"
                     />
        </div>
        <div class="form-group">
            <label for="field_tag">Tag</label>
            <input type="text" class="form-control" name="tag" id="field_tag"
                    ng-model="product.tag"
                     />
        </div>
        <div class="form-group">
            <label for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="product.price"
                     />
        </div>
        <div class="form-group">
            <label for="field_description_title">Description title</label>
            <input type="text" class="form-control" name="description_title" id="field_description_title"
                    ng-model="product.descriptionTitle"
                     />
        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="product.description"
                     />
        </div>
        <div class="form-group">
            <label for="field_jdurl">JD url</label>
            <input type="text" class="form-control" name="jdurl" id="field_jdurl"
                    ng-model="product.jdurl"
                     />
        </div>
        <div class="form-group">
            <label for="field_produceDate">ProduceDate</label>
            <input type="date" class="form-control" name="produceDate" id="field_produceDate"
                    ng-model="product.produceDate"
                     />
        </div>
        <div class="form-group">
            <label for="field_producer">Producer</label>
            <input type="text" class="form-control" name="producer" id="field_producer"
                    ng-model="product.producer"
                     />
        </div>
 <!--        <div class="form-group">
            <label for="field_image">Image</label>
            <input type="text" class="form-control" name="image" id="field_image"
                    ng-model="product.image" readonly = "true"
                     />
        </div>  -->
        
        <div class="form-group">
            <label for="field_favorate">Favorate</label>
            <input type="text" class="form-control" name="favorate" id="field_favorate"
                    ng-model="product.favorate"
                     />
        </div>
        <div class="form-group">
            <label for="field_news">News</label>
            <input type="text" class="form-control" name="news" id="field_news"
                    ng-model="product.news"
                     />
        </div>
        
        <div class="form-group">

            <label for="field_upload">Upload image</label>
			<input type="text" class="form-control" name="image" id="field_image"
                    ng-model="product.image" />
			<div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(images, 'image')" ng-model="images" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in images" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
           
        </div>
        
        <div class="form-group">

            <label for="field_upload">Upload detail image</label>
			<input type="text" class="form-control" name="image1" id="field_image1"
                    ng-model="product.image1" />
			<div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(image1s, 'imageDetail')" ng-model="image1s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in image1s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
           
        </div>
        <div class="form-group">

            <label for="field_upload">Upload award1 image</label>
			<input type="text" class="form-control" name="award1" id="field_award1"
                    ng-model="product.award1" />
			<div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(award1s, 'award1')" ng-model="award1s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in award1s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
           
        </div>
        <div class="form-group">

            <label for="field_upload">Upload award2 image</label>
			<input type="text" class="form-control" name="award2" id="field_award2"
                    ng-model="product.award2" />
			<div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(award2s, 'award2')" ng-model="award2s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in award2s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
           
        </div>
        <div class="form-group">

            <label for="field_upload">Upload award3 image</label>
			<input type="text" class="form-control" name="award3" id="field_award3"
                    ng-model="product.award3" />
			<div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(award3s, 'award3')" ng-model="award3s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in award3s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
           
        </div>
		<div class="form-group">
			<textarea name="detailInfo" id="detailInfo" rows="50" cols="100" ng-model="product.detailInfo" ckeditor>
                This is my textarea to be replaced with CKEditor.
            </textarea>
            
		</div>
		
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
