
<div class="hj-footer">
    <div class="hj-footer-2code">
        <div class="row">
            <div class="col-md-12 hj-footer-2code">
                <a class="" href="#/"><img ng-if="info.qrCode!=null" ng-src="/assets/images/upload/{{info.qrCode}}"></a>
                <img ng-src="/assets/images/line.png">
                <a class="" href="#/"><img ng-if="info.placeholder2!=null" ng-src="/assets/images/upload/{{info.placeholder2}}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer-a">
                <a href="#/">网站首页 </a>|<ul style="display:inline;padding-left:5px;"><li ng-repeat="story in STORYS" style="display:inline;"><a ui-sref="brandStory.fdetail({id:story.id})">{{story.name}}</a>&nbsp;|&nbsp;</li></ul>
                <br><br>
                {{info.placeholder1}}
            </div>
        </div>
    </div>
</div>



