<div ng-cloak>
	
	<BR>
	<div class="row">
        <div class="col-md-4">
            <div class="hj-h1"> 新款推荐 NEW ARRIVALS</div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-repeat="product in products track by product.id">
            <div class="col-md-3">
	            <a ui-sref="product.detail({id:product.id})"><img class="hj-wine-img1" ng-show="product.image !=''" ng-src="/assets/images/upload/{{product.image}}" alt="wine"></a>
	            <br>
	            <div class="hj-wine1">{{product.name}} &nbsp;{{product.favorate}}</div>
	            <div class="hj-wine2">{{product.name}}</div>
	            <div class="hj-wine1">RMB: {{product.price}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hj-h1"> 畅销酒款 BEST SELLING WINES</div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-repeat="product in products track by product.id">
            <div class="col-md-3">
	            <img class="hj-wine-img1" ng-show="product.image !=''" ng-src="/assets/images/upload/{{product.image}}"  alt="wine">
	            <br>
	            <div class="hj-wine1">{{product.name}} &nbsp;{{product.favorate}}</div>
	            <div class="hj-wine2">{{product.name}}</div>
	            <div class="hj-wine1">RMB: {{product.price}}</div>
            </div>
        </div>
    </div>
</div>
