<nav class="hj-nav">
	<div class="container">
		<div class="navbar-header">		
	        <a class="" href="#/" tooltip-html="qrCodeHtml" tooltip-class="hj-qrcode" tooltip-trigger="focus" tooltip-animation="false" tooltip-placement="bottom-right">
	        <img ng-src="/assets/images/wechat.png"></a>
	        <a class="" href="{{info.weiboUrl}}"><img ng-src="/assets/images/weibo.png"></a>
	        <a class="" href="{{info.qqUrl}}"><img ng-src="/assets/images/qq.png"></a>
	    </div>
	    <div class="navbar-right">
	        <div class="">
	            <span class="hj-white-color">酒庄直供</span>
	            <span class="hj-white-color">正品保真</span>
	            <span class="hj-white-color">七天退货</span>
	        </div>
	            
	    </div>	
	</div>
</nav>	

<nav class="navbar navbar-default hj-container" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="hj-brand" href="#/"><img ng-src="/assets/images/logo.png"> </a>
            <span class="hj-brand-title">H&J WINE SHOP <br>鸿杰获奖红酒专营店</span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right hj-nav-menu">
                <li ui-sref-active="active">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="hj-nav-font">
                                	逛逛商店
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu hj-shop-dropdown-menu hj-dropdown-menu-a">
                        <li ui-sref-active="active">
							葡萄酒 WINE
							<ul>
								<li><a ui-sref="product.all">所有商品 ALL WINE</a></li>
								<li><a ui-sref="product.byRegions">按地域 BY REGIONS</a></li>
								<li>		按场合 BY OCCASION		</li>
								<li><a ui-sref="product.byVariety">按品种 BY SPECIES</a></li>
							</ul>
						</li>
                        <li ui-sref-active="active">
							精美礼品 GIFT
							<ul>
								<li ng-repeat="gift in GIFTS"><a ui-sref="gift.fdetail({id:gift.id})">{{gift.name}}</a></li>								
								<li><a ui-sref="wineSide.all">葡萄酒周边配件 PERIPHERAL PRODUCTS</a></li>
							</ul>
						</li>
                        <li ui-sref-active="active">
							品牌故事 BRAND STORY
							<ul>
								<li ng-repeat="story in STORYS"><a ui-sref="brandStory.fdetail({id:story.id})">{{story.name}}</a></li>
							</ul>
						</li>
                    </ul>
                </li>
                <li ng-class="active" ng-repeat="menu in MENUS">
                    <a ui-sref="menuPage.fdetail({id:menu.id})">
                        <span>
                            <span class="hj-nav-font">
                                	{{menu.name}}
                            </span>
                        </span>
                    </a>
                </li>
                <li ng-class="active">
                	<div class="hj-t-margin-25">
                		<input type="text" class="hj-search" id="searchInput" ng-model="searchInput" style="width:150px;" placeholder="搜索.." ng-hide="search" ng-keydown="enter($event);">
                		<a href="#"  ng-click="search=!search">         <span class="glyphicon glyphicon-search"></span>       </a>
                	</div>
                </li>
            </ul>
        </div>
    </div>
</nav>
