
<div class=" hj-container-boder">
	<div class="container ">
		<div class="row">
		        <div class="col-md-4">
		            <div class="hj-nav-h1"> 商店 SHOP</div>
		        </div>
		        <div class="col-md-4"></div>
		        <div class="col-md-4">
		        	<div class="hj-bread">
		        		<a ui-sref="product.byRegions">按地域 BY REGIONS</a> &nbsp;>&nbsp;
	        			<a ui-sref="product.byOccasion">按场合 BY OCCASION</a> &nbsp;>&nbsp;
	        			<a ui-sref="product.byVariety">按品种 BY SPECIES</a>
		        	</div>
		        </div>
		    </div>
	</div>
</div>

<div class="container">
	<div ng-cloak>
		
		<BR>
	    <div class="row">
	        <div class="col-md-12" >
	        	<div class="row" >
	        		<div class="col-md-11"><div class="hj-h1"> 所有商品 </div></div>
	        		<div class="col-md-1"><div class="hj-h1"></div></div>
	        	</div>
	        	
	        	<div class="row" >
		            <div class="col-md-3" ng-repeat="product in products  | orderBy: 'number':true ">
			            <a ui-sref="product.fdetail({id:product.id})" class="thumbnail">
			            <img class="hj-wine-img1" ng-if="product.image !=''" ng-src="/assets/images/upload/{{product.image}}" style="width:245px;height:350px" alt="wine"></a>
			            <div class="hj-wine1 love">&nbsp;{{product.title}}
		            	  <span style="float: right;">&nbsp;&nbsp;{{product.favorate}}&nbsp;&nbsp;</span>
		            	  <a ng-click="favor(product.id)"><span class="glyphicon glyphicon-heart" style="float: right;"> </span> </a> 
		            	  </div>
			            <div class="hj-wine2">&nbsp;{{product.name}}</div>
			            <div class="hj-wine2">&nbsp;{{product.tag}}</div>
			            <div class="hj-p-price1">&nbsp;RMB: {{product.price}}</div>
		            </div>
	            </div>
	        </div>
	    </div>
	  
	</div>
</div>
