
<div class="container">
	<div ng-cloak>
		
		<BR>
		<div class="row">
	        <div class="col-md-4">
	            <div class="hj-h1"> 周边</div>
	        </div>
	        <div class="col-md-8">
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-12" >
	            <div class="col-md-3" ng-repeat="side in sides">
		            <a ui-sref="wineSide.fdetail({id:side.id})">
		            <img class="hj-wine-img1" ng-if="side.image !=''" ng-src="/assets/images/upload/{{side.image}}" style="width:245px;heiht:350px" alt="wine"></a>
		            <br>
		            <div class="hj-wine1">{{side.title}}</div>
		            <div class="hj-wine2">{{side.name}}</div>
		            <div class="hj-wine1">RMB: {{side.price}}</div>
	            </div>
	        </div>
	    </div>
	  
	</div>
</div>
