.hj-nav{
    position: relative;
    min-height: 30px;
    border: 1px solid transparent;
    background-color:#303030;
}

.hj-container_boder {
    border-bottom: 1px solid #e7e7e7;
}

.hj-container {
	background-color:#FFFFFF;
	margin-bottom:0;
}
.hj-txt-center{
	float:center;
}

.hj-p-d-container{
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
}

.hj-tb-margin-20{
	margin-top:20px;
	margin-bottom:20px;
}


.hj-tl-margin-5{
	margin-left: 5px;
	margin-top:5px;
}

.hj-t-margin-10{
	margin-top:10px;
}

.hj-slide1 {
    background: url("../images/carousel-001.png") center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 500px;
    width: 100%;
    margin: 0 auto;
}
.hj-slide2 {
    background: url("../images/carousel-002.png") center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 500px;
    width: 100%;
    margin: 0 auto;
}
.hj-slide3 {
    background: url("../images/carousel-003.png") center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

#footer {
	min-width: 100%;
    margin-top: 20px!important;
}

.footer-a > a{
	color: #ffffff;
    text-decoration: none;
}
.footer-a ul > li > a{
	color: #ffffff;
    text-decoration: none;
}

#footer .hj-footer {
	min-height:250px;
	background: #000000;
  /*    
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  */
    padding-bottom: 50px;
    color:#ffffff;
}
.hj-footer-2code{
	text-align:center;
	margin:45px 25px 25px 25px;	
}

.hj-shop-dropdown-menu {
  margin-top:25px !important;
  min-width: 910px;
  min-height: 400px;
  list-style: none;
  background-image: url("../images/dropdownbg.jpg");
  background-repeat: no-repeat; 
}

.hj-nav-font{
  font-weight: bold;
  font-size:14px;
}

.hj-h1{
  margin-top:25px;
  margin-bottom:20px;
  font-weight: bold;
  font-size:18px;
}

.hj-bread{
  margin-top:25px;
  margin-bottom:20px;
  font-size:12px;
}

.hj-h2{
  margin-top:15px;
  font-weight: bold;
  font-size:16px;
  font-family:"SimSun";
}

.hj-h3{
  font-weight: regular;
  font-size:16px;
  font-family:"SimSun";
}

.hj-wine-img1{
  margin: 10px 10px 10px 10px;
}

.hj-wine1{
  margin-top:2px;
  margin-left:10px;
  font-weight: regular;
  font-size:14px;
  font-family:Microsoft YaHei;
}
.hj-wine2{
  margin-top:2px;
  margin-left:10px;
  font-weight: regular;
  font-size:14px;
  font-family:"方正兰亭中黑", Microsoft YaHei;
  color: #828282;
}

.hj-shop-dropdown-menu > li {
  /* display: block; */
  float: left;
  color: #ffffff;
  font-weight: bold;
  font-size:14px;
  margin-left:20px;
  margin-top:30px;
  margin-right:10px;
  width:30%;
}

.hj-shop-dropdown-menu > li > ul > li {
  /* display: block; */
  /* padding: 3px 20px; */
  /* clear: both; */
  list-style: none;
  color: #ffffff;
  margin-left:-40px;
  margin-top:15px;
  font-weight: normal;
  font-size:12px;
  line-height: 1.42857143;
  /* white-space: nowrap; */
}
.hj-shop-dropdown-menu > li > a:hover,
.hj-shop-dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.hj-margin-bottom-0 {
	
	margin-bottom: 0;
}

.hj-margin-left-50 {
	margin-left: 50px;
}

.hj-brand {
	float:left;
	height:75px;
	padding:2px 2px;
}

.hj-brand-title {
	float:left;
	font-size:18px;
	font-weight: bold;
	color:black;
	margin-top:10px;
	margin-left:10px;
	
}

.hj-social-icon-padding {
	padding:2px 2px;
}
.hj-white-color {
	height:30px;
	width:80px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	background-color:#3B3B3B;
	color:white;
	display:inline-block;
}


.hj-p-title{
  margin-top:15px;
  font-weight: bold;
  font-size:16px;
  font-family: "方正兰亭中黑", SimHei;
}

.hj-p-name{
  margin-top:5px;
  font-weight: regular;
  font-size:16px;
  font-family:Microsoft YaHei;
}
.hj-p-price{
  margin-top:15px;
  font-weight: bold;
  font-size:28px;
  color:#d33618;
  font-family:Microsoft YaHei;
}
.hj-p-price1{
  margin-top:5px;
  margin-left:10px;
  font-weight: bold;
  font-size:16px;
  font-family:Microsoft YaHei;
}

.hj-p-dt{
  margin-top:15px;
  font-weight: bold;
  font-size:14px;
  color:#828282;
  font-family:Microsoft YaHei;
}

.hj-p-d{
  margin-top:10px;
  font-weight: regular;
  font-size:14px;
  color:#828282;
  font-family:Microsoft YaHei;
}

.hj-p-t1{
  margin-top:5px;
  margin-bottom:5px;
  font-weight: regular;
  font-size:16px;
  color:#5a5a5a;
  font-family:Microsoft YaHei;
}

.hj-p-rleate-t1{
  margin-top:5px;
  margin-bottom:5px;
  font-weight: bold;
  font-size:20px;
  color:#000000;
  font-family:Microsoft YaHei;
}

.hj-p-border{
  border-style:solid; 
  border-width:1px; 
  border-color:#EDEDED;
}

.hj-p-b-border{
  border-bottom:1px solid #EDEDED;
}