.hj-top-container {
	
	background-color:#303030;
	height:10px;
}

.hj-margin-bottom-0 {
	
	margin-bottom: 0;
}

.hj-brand {
	float:left;
	height:75px;
	padding:2px 2px;
}

.hj-brand-title {
	font-size:18px;
	padding:2px 2px;
	color:black;
}

.hj-social-icon-padding {
	
	padding:2px 2px;
}
.hj-white-color {
	height:40px;
	width:80px;
	padding:10px 10px 10px 10px;
	background-color:#3B3B3B;
	color:white;
}