
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInfoLabel">新建或编辑</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="info.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_qrCode">首页页脚二维码</label>
            <img ng-if="info.qrCode != null" ng-src="/assets/images/upload/{{info.qrCode}}" style="height:80px;width:80px" alt="qr code">
            <div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(qrCodes, 'qrCode')" ng-model="qrCodes" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in qrCodes" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
        </div>
        <div class="form-group">
            <label for="field_wechatSubscribeCode">微信订阅号二维码</label>
            <img ng-if="info.wechatSubscribeCode != null" ng-src="/assets/images/upload/{{info.wechatSubscribeCode}}" style="height:80px;width:80px" alt="code">
            <div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(wechatSubscribeCodes, 'subscribeCode')" ng-model="wechatSubscribeCodes" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in wechatSubscribeCodes" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
        </div>
        <div class="form-group">
            <label for="field_wechatServiceCode">微信服务号二维码</label>
            <img ng-if="info.wechatServiceCode != null" ng-src="/assets/images/upload/{{info.wechatServiceCode}}" style="height:80px;width:80px" alt="code">
            <div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(wechatServiceCodes, 'serviceCode')" ng-model="wechatServiceCodes" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in wechatServiceCodes" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
        </div>
        <div class="form-group">
            <label for="field_logo1">Logo 1</label>
            <img ng-if="info.placeholder2 != null" ng-src="/assets/images/upload/{{info.placeholder2}}" style="height:80px;width:80px" alt="code">
            <div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(placeholder2s, 'logo')" ng-model="placeholder2s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in placeholder2s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
        </div>
        <div class="form-group">
            <label for="field_logo2">Logo 2</label>
            <img ng-if="info.placeholder3 != null" ng-src="/assets/images/upload/{{info.placeholder3}}" style="height:80px;width:80px" alt="code">
            <div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(placeholder3s, 'logo2')" ng-model="placeholder3s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in placeholder3s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
        </div>
        <div class="form-group">
            <label for="field_bg">逛逛商店背景图</label>
            <img ng-if="info.placeholder4 != null" ng-src="/assets/images/upload/{{info.placeholder4}}" style="height:80px;width:80px" alt="code">
            <div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(placeholder4s, 'bg')" ng-model="placeholder4s" ngf-multiple="true">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in placeholder4s" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
        </div>
        <div class="form-group">
            <label for="field_weiboUrl">微博 url</label>
            <input type="text" class="form-control" name="weiboUrl" id="field_weiboUrl"
                    ng-model="info.weiboUrl"
                     />
        </div>
        <div class="form-group">
            <label for="field_qqUrl">QQ url</label>
            <input type="text" class="form-control" name="qqUrl" id="field_qqUrl"
                    ng-model="info.qqUrl"
                     />
        </div>
        <div class="form-group">
            <label for="field_placeholder1">copyright</label>
            <input type="text" class="form-control" name="placeholder1" id="field_placeholder1"
                    ng-model="info.placeholder1"
                     />
        </div>
     

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span> 取消</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span> 保存</span>
        </button>
    </div>
</form>
