<div>
    <h2>公司信息</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="info.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>新建一次就好</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Logo</th>
                    <th>首页页脚二维码</th>
                    <th>微信订阅号二维码</th>
                    <th>微信服务号二维码</th>
                    <th>微博 url</th>
                    <th>QQ url</th>
                    <th>copyright</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="info in infos track by info.id">
                    <td><a ui-sref="info.detail({id:info.id})">{{info.id}}</a></td>
                    <td><img ng-if="info.placeholder2 != null" ng-src="/assets/images/upload/{{info.placeholder2}}" style="height:80px;width:80px" alt="Logo"></td>
                    <td><img ng-if="info.qrCode != null" ng-src="/assets/images/upload/{{info.qrCode}}" style="height:80px;width:80px" alt="qr code"></td>
                    <td><img ng-if="info.wechatSubscribeCode != null" ng-src="/assets/images/upload/{{info.wechatSubscribeCode}}" style="height:80px;width:80px" alt="qr code"></td>
                    <td><img ng-if="info.wechatServiceCode != null" ng-src="/assets/images/upload/{{info.wechatServiceCode}}" style="height:80px;width:80px" alt="qr code"></td>
                    <td>{{info.weiboUrl}}</td>
                    <td>{{info.qqUrl}}</td>
                    <td>{{info.placeholder1}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="info.detail({id:info.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> 查看</span>
                        </button>
                        <button type="submit"
                                ui-sref="info.edit({id:info.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> 编辑</span>
                        </button>
                        <button type="submit"
                                ui-sref="info.delete({id:info.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> 删除</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
