
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPhotoLabel">新建或编辑</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="photo.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_name">名称</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="photo.name"
                     />
        </div>
        <div class="form-group">

            <label for="field_url">图片</label>
            <img ng-if="photo.url !=null" ng-src="/assets/images/upload/{{photo.url}}" style="height:80px;width:80px" alt="{{photo.name}}">
			<div class="button select-picture-button padding" accept="image/*" ngf-keep="true"
                         ngf-keep-distinct="true" ngf-select="onFileSelect(urls)" ng-model="urls" ngf-multiple="false">
                        <button >选择图片</button>
                    </div>
                    
            <img ng-repeat="file in urls" ngf-src="file" class="padding" style="max-height: 10rem; max-width: 10rem; border-radius: 5px">

            <br>
           
        </div>
        <div class="form-group">
            <label for="field_note">图片描述</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="photo.note"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span> 取消</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span> 保存</span>
        </button>
    </div>
</form>
