<div>
    <h2>礼品</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="gift.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>新建礼品</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>标题</th>
                    <th>价格</th>
                    <th>图片</th>
                   <!--  <th>Description</th>
                    <th>DetailInfo</th> -->
                    <th>是否启用</th>
                    <th>排序</th>
                   <!-- <th>Placeholder1</th>
                    <th>Placeholder2</th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gift in gifts track by gift.id">
                    <td><a ui-sref="gift.detail({id:gift.id})">{{gift.id}}</a></td>
                    <td>{{gift.name}}</td>
                    <td>{{gift.title}}</td>
                    <td>{{gift.price}}</td>
                    <td><img ng-if="gift.image != null" ng-src="/assets/images/upload/{{gift.image}}" style="height:80px;width:80px" alt="qr code"></td>
                    <!--<td>{{gift.description}}</td>
                    <td>{{gift.detailInfo}}</td>-->
                    <td>{{gift.active}}</td>
                    <td>{{gift.orderTag}}</td>
                  <!--  <td>{{gift.placeholder1}}</td>
                    <td>{{gift.placeholder2}}</td>-->
                    <td>
                        <button type="submit"
                                ui-sref="gift.detail({id:gift.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> 查看</span>
                        </button>
                        <button type="submit"
                                ui-sref="gift.edit({id:gift.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> 编辑</span>
                        </button>
                        <button type="submit"
                                ui-sref="gift.delete({id:gift.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> 删除</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
